.computer_knowledge
  .field
    = f.input :text_editor_level, :as => :radio, :collection => Profile::COMPUTER_LEVELS
  .field
    = f.input :spreadsheet_editor_level, :as => :radio, :collection => Profile::COMPUTER_LEVELS
  .field
    = f.input :presentation_editor_level, :as => :radio, :collection => Profile::COMPUTER_LEVELS
  .field
    = f.input :browser_level, :as => :radio, :collection => Profile::COMPUTER_LEVELS
  .field
    = f.input :email_level, :as => :radio, :collection => Profile::COMPUTER_LEVELS
  .field
    = f.input :os_level, :as => :radio, :collection => Profile::COMPUTER_LEVELS
  .field
    = f.input :vetorial_image_editor_level, :as => :radio, :collection => Profile::COMPUTER_LEVELS
  .field
    = f.input :photo_editor_level, :as => :radio, :collection => Profile::COMPUTER_LEVELS
  .field
    = f.input :media_player_level, :as => :radio, :collection => Profile::COMPUTER_LEVELS