.field
  = f.input :last_vacation, :as => :date
.field
  = f.input :next_vacation, :as => :date
.field
  = f.label :deslocation_time_by_google
  = f.text_field :deslocation_time_by_google
.field
  = f.label :deslocation_time
  = f.text_field :deslocation_time
.field
  = f.label :dependents
  = f.text_area :dependents, :rows => 5, :cols => 100