:javascript
  $(document).ready(function() {
    if ($("#profile_worked_in_public_school_sim").is(':checked')){
      jQuery('#public_school_detail').attr('style','display:block; !important');
    }
    if ($("#profile_work_in_another_institution_sim").is(':checked')){
      jQuery('#another_institution_detail').attr('style','display:block; !important');
    }
    if ($("#profile_partner_in_another_company_sim").is(':checked')){
      jQuery('#another_company_detail').attr('style','display:block; !important');
    }
  });
.field
  = f.input :worked_in_public_school, :as => :radio, :collection => [t('yyes'), t('nno')]
  :javascript
    $(document).ready(function() {
        $("#profile_worked_in_public_school_sim").change(function() {
            if ($("#profile_worked_in_public_school_sim").is(':checked')){
              jQuery('#public_school_detail').attr('style','display:block; !important');
            }
            else{
              jQuery('#public_school_detail').attr('style','display:none; !important');
            }
        });
        $("#profile_worked_in_public_school_não").change(function() {
            if ($("#profile_worked_in_public_school_não").is(':checked')){
              jQuery('#public_school_detail').attr('style','display:none; !important');
            }
        });
    });
#public_school_detail
  %br
  - f.fields_for :public_schools do |builder|
    = render "public_school_fields", :f => builder
  %br
  = link_to_add_fields t('profile.new_public_school'), f, :public_schools
  %br

.field
  = f.input :work_in_another_institution, :as => :radio, :collection => [t('yyes'), t('nno')]
  :javascript
    $(document).ready(function() {
        $("#profile_work_in_another_institution_sim").change(function() {
            if ($("#profile_work_in_another_institution_sim").is(':checked')){
              jQuery('#another_institution_detail').attr('style','display:block; !important');
            }
            else{
              jQuery('#another_institution_detail').attr('style','display:none; !important');
            }
        });
        $("#profile_work_in_another_institution_não").change(function() {
            if ($("#profile_work_in_another_institution_não").is(':checked')){
              jQuery('#another_institution_detail').attr('style','display:none; !important');
            }
        });
    });
#another_institution_detail
  .field
    = f.label :another_institution_name
    = f.text_field :another_institution_name
  .field
    = f.label :another_institution_contact
    = f.text_field :another_institution_contact
  .field
    = f.label :another_institution_site
    = f.text_field :another_institution_site

.field
  = f.input :partner_in_another_company, :as => :radio, :collection => [t('yyes'), t('nno')]
  :javascript
    $(document).ready(function() {
        $("#profile_partner_in_another_company_sim").change(function() {
            if ($("#profile_partner_in_another_company_sim").is(':checked')){
              jQuery('#another_company_detail').attr('style','display:block; !important');
            }
            else{
              jQuery('#another_company_detail').attr('style','display:none; !important');
            }
        });
        $("#profile_partner_in_another_company_não").change(function() {
            if ($("#profile_partner_in_another_company_não").is(':checked')){
              jQuery('#another_company_detail').attr('style','display:none; !important');
            }
        });
    });
#another_company_detail
  .field
    = f.label :another_company_name
    = f.text_field :another_company_name
  .field
    = f.label :another_company_contact
    = f.text_field :another_company_contact
  .field
    = f.label :another_company_site
    = f.text_field :another_company_site